@page "/upload"

<h1>Streaming upload</h1>

<InputFile OnChange="OnFileChange" />

@if (_file != null)
{
    <button class="btn btn-primary" @onclick="UploadFile">Upload</button>
}
@if (_message != null)
{
    <div>Result: @_message</div>
}

@code {

    readonly System.Threading.CancellationTokenSource cts = new System.Threading.CancellationTokenSource();
    readonly BrowserHttpHandler handler = new BrowserHttpHandler();

    IBrowserFile _file;

    string _message;

    void OnFileChange(InputFileChangeEventArgs args)
    {
        _file = args.File;
    }

    private async Task UploadFile()
    {
        if (_file == null)
        {
            _message = "No file selected";
            return;
        }

        _message = null;

        try
        {
            using var request = new HttpRequestMessage(HttpMethod.Post, "/upload");
            request.Options.Set(BrowserHttpHandler.EnableStreamingRequest, true);
            request.SetBrowserRequestOption("allowHTTP1ForStreamingUpload", true);

            var content = new MultipartFormDataContent();
            content.Add(new StreamContent(_file.OpenReadStream(long.MaxValue)), "file", _file.Name);
            request.Content = content;

            using var response = await handler.SendAsync(request, cts.Token);
            
            _message = await response.Content.ReadAsStringAsync();
        }
        catch (Exception ex)
        {
            _message = ex.Message;
        }
    }
}
